# Virtual Environment
.venv/

# Environment Variables
.env

# Python
__pycache__/
*.pyc

# Logs
logs/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Testing
.pytest_cache/

# Type Checking
.mypy_cache/

# Ruff
.ruff_cache/

# Build
dist/
build/

# Coverage
.coverage
htmlcov/data/
*.db
